@model IQueryable<Kurse>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Kursname</th>
			<th>Dauer (Tage)</th>
			<th>Aktiv</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Kurse k in Model)
		{
			<tr>
				<td>@k.ID</td>
				<td>@k.KursName</td>
				<td>@k.DauerInTagen</td>
				<td>@k.Aktiv</td>
			</tr>
		}
	</tbody>
</table>