@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form asp-action="CreateUser">
	<button type="submit">User erzeugen</button>
</form>

<form asp-action="LoginUser">
	<button type="submit">User einloggen</button>
</form>