<h2>Anmelden</h2>

<form asp-action="LoginUser" method="post">
	Benutzername: <input type="text" name="user" />

	<br />

	Passwort: <input type="password" name="pw" />

	<br />

	Eingeloggt bleiben: <input type="checkbox" name="stayLoggedIn"/>

	<br/>

	<button type="submit">Einloggen</button>
</form>