@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>@ViewData["Test"]</h1>
<h1>@ViewBag.Test</h1>

<button class="btn btn-primary" style="--bs-btn-padding-y: 0; --bs-btn-padding-x: 0;">Hallo</button>
<button class="btn btn-primary">Hallo</button>