@page "/Index/{id?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@if (Model.CurrentUser == null)
{
	<p>Hallo</p>
	<br />
	<a asp-page="Einloggen">Einloggen</a>
	<br />
	<a asp-page="Registrieren">Registrieren</a>
	
}
else
{
	<p>Hallo @Model.CurrentUser.UserName</p>
}